<button type="button" class="t1 flex-grow-0 flex-basis-150px my-20 mx-25 text-center relative {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
  <img class="t1 rounded-5 max-w-100%" ...attributes>
  <small>View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>
