<nav class="t1 bg-c-hex-e46855 h-4em">
  <LinkTo @route="index" class="t1 inline-block text-decoration-none py-0 px-15 color-white font-20 font-bold">
  <h1 class="t1 relative pt-5 pr-8 font-1.8em color-white italic">SuperRentals</h1>
  </LinkTo>
  <div class="t1 inline-block py-0 px-21">
    <LinkTo @route="about">
    <span class="t1 inline-block text-decoration-none py-0 px-15 color-white font-20 font-bold">About</span>
    </LinkTo>
    <LinkTo @route="contact">
    <span class="t1 inline-block text-decoration-none py-0 px-15 color-white font-20 font-bold">Contact</span>
    </LinkTo>
  </div>
</nav>
