<Jumbo>
  <h2 class="t1 font-3.2em -mt-25">Welcome to Super Rentals!</h2>
  <p class="t1 mb-25">We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about">
  <span class="t1 inline-block font-20 bg-c-blue rounded-5 py-10 px-30 text-decoration-none color-c-white hover:bg-c-blue hover:color-c-white">About Us</span>
  </LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />
